//colors
$white: #ddd;
$color_mine_shaft_approx: #333;
$white_70: rgba(255,255,255,.7);
$color_storm_dust_approx: #666;

.inner {
    width: 980px;
    margin: 0 auto;
}
.inner:after {
    content: "";
    clear: both;
    display: block;
}

#top-head {
	top: -100px;
	position: absolute;
	width: 100%;
	margin: 100px auto 0;
	padding: 30px 0 0;
	line-height: 1;
	z-index: 999;
	color: $white;
	text-decoration: none;
	a {
		color: $white;
		text-decoration: none;
	}
	.inner {
		position: relative;
	}
	.logo {
		float: left;
		font-size: 36px;
	}
	&.fixed {
		margin-top: 0;
		top: 0;
		position: fixed;
		padding-top: 10px;
		height: 55px;
		background: $white;
		background: $white_70;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: top 0.65s ease-in;
		.logo {
			font-size: 24px;
			color: $color_mine_shaft_approx;
		}
		#global-nav ul li a {
			color: $color_mine_shaft_approx;
			padding: 0 20px;
		}
	}
}
#nav-toggle {
	display: none;
	position: absolute;
	right: 12px;
	top: 14px;
	width: 34px;
	height: 36px;
	cursor: pointer;
	z-index: 101;
	div {
		position: relative;
	}
	span {
		display: block;
		position: absolute;
		height: 4px;
		width: 100%;
		background: $color_storm_dust_approx;
		left: 0;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: .35s ease-in-out;
		&:nth-child(1) {
			top: 0;
		}
		&:nth-child(2) {
			top: 11px;
		}
		&:nth-child(3) {
			top: 22px;
		}
	}
}
@media screen and(max-width: 640px) {
	#top-head {
		width: 100%;
		padding: 0;
		top: 0;
		position: fixed;
		margin-top: 0;
		&.fixed {
			padding-top: 0;
			background: transparent;
			.logo {
				position: absolute;
				left: 13px;
				top: 13px;
				color: $color_mine_shaft_approx;
				font-size: 26px;
			}
			#global-nav ul li a {
				width: 100%;
				display: block;
				color: $white;
				padding: 18px 0;
			}
		}
		.logo {
			position: absolute;
			left: 13px;
			top: 13px;
			color: $color_mine_shaft_approx;
			font-size: 26px;
		}
		#global-nav ul li a {
			width: 100%;
			display: block;
			color: $white;
			padding: 18px 0;
		}
	}
	.inner {
		width: 100%;
		padding: 0;
	}
	#mobile-head {
		background: $white;
		width: 100%;
		height: 56px;
		z-index: 999;
		position: relative;
	}
	#global-nav {
		position: absolute;
		top: -500px;
		background: $color_mine_shaft_approx;
		width: 100%;
		text-align: center;
		padding: 10px 0;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: .5s ease-in-out;
		ul {
			list-style: none;
			position: static;
			right: 0;
			bottom: 0;
			font-size: 14px;
			li {
				float: none;
				position: static;
			}
		}
	}
	#nav-toggle {
		display: block;
	}
	.open {
		#global-nav {
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translateY(556px);
		}
		#nav-toggle span {
			&:nth-child(1) {
				top: 11px;
				//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
				transform: rotate(315deg);
			}
			&:nth-child(2) {
				width: 0;
				left: 50%;
			}
			&:nth-child(3) {
				top: 11px;
				//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
				transform: rotate(-315deg);
			}
		}
	}
}
#global-nav ul {
	list-style: none;
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 14px;
	li {
		float: left;
		a {
			padding: 0 30px;
		}
	}
}
