doctype html
html.no-js(lang='jp')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Uplift
    link(rel='stylesheet', href='common/css/app.css')
  body
    header
    main#main
    footer
    script(src='common/js/jquery.min.js')
    script(src='common/js/what-input.min.js')
    script(src='common/js/foundation.min.js')
    script(src='common/js/app.js')
