doctype html
html.no-js(lang='jp')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Uplift
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='common/css/app.css')
  body
    include elements/_header

    main#main
      #hero
        .row
          .column.text-center
            h2 hogehoge
      .businessDomain
        .row
          .columns.medium-10.medium-centered
            .row.medium-up-3
              mixin bdsection(title,htmlclass,desc,btlink,btlabel)
                .columns
                  p.businessDomain-icon
                    i(class=htmlclass)
                  h3.businessDomain-title= title
                  .businessDomain-desc
                    p= desc
                  .businessDomain-button
                    a.button(href="#{btlink}")= btlabel

              -
                var btdata = [
                  {
                    "title": "Webアドバイシング業務",
                    "htmlclass": "fa fa-lightbulb-o",
                    "desc": "中小企業のWeb戦略についてアドバイシングします。コンサルティングと異なるのは、企業のWebマーケティングについての現状を整理し、今後の展開についてのプランを提案する業務です。",
                    "btlink": "#",
                    "btlabel": "詳細を読む",
                  },
                  {
                    "title": "Web更新業務",
                    "htmlclass": "fa fa-lightbulb-o",
                    "desc": "既存制作のWebサイトのちょっとした更新などを請負ます。",
                    "btlink": "#",
                    "btlabel": "詳細を読む",
                  },
                  {
                    "title": "Web制作会社サポート",
                    "htmlclass": "fa fa-lightbulb-o",
                    "desc": "Web制作会社のお悩みを解決します",
                    "btlink": "#",
                    "btlabel": "詳細を読む",
                  }
                ];

              - for (var i = 0; i < btdata.length; i++) {
                +bdsection(btdata[i].title,btdata[i].htmlclass,btdata[i].desc,btdata[i].btlink,btdata[i].btlabel)
              -}
    footer
    script(src='common/js/jquery.min.js')
    script(src='common/js/what-input.min.js')
    script(src='common/js/foundation.min.js')
    script(src='common/js/app.js')
