header#top-head
  .inner
    #mobile-head
      h1.logo Uplift
      #nav-toggle
        div
          span
          span
          span
    nav#global-nav
      ul
        li: a(href='#') HOME
        li: a(href='#') ABOUT
        li: a(href='#') SERVICES
        li: a(href="#") WORKS
